<div class="page-margin banner h-screen bg-banner-image bg-cover bg-center flex flex-col self-start justify-center">
    <div class="items-self mt-28">
        <div class="w-full lg:w-45 xl:w-45 glassmorphism p-3 z-10 rounded-xl">
            <h1 class="flex items-center gap-2 text-xl">
                <span>An Open Honest Neighborhood Plateform</span>
                <span class="text-sm text-blue-500 font-semibold">Coming 2024</span>
            </h1>
        </div>
        <div class="w-full lg:w-45 xl:w-45 mt-4 z-10">
            <div class="glassmorphism p-3 rounded-xl">
                <h1>Powered By</h1>
                <h1 class="text-red-600">Neighborhood Stars That Truely Care</h1>
                <div class="grid grid-cols-3 gap-4 mt-6">
                    <!-- First Column -->
                    <div class="column">
                        <h2 class="text-sm text-blue-500 font-bold mb-3">Neighbourhood News</h2>
                        <ul class="text-red-500">
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>School happenings</span> 
                            </li>
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>Advice</span> 
                            </li>
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>Events</span> 
                            </li>
                        </ul>
                    </div>

                    <!-- Second Column -->
                    <div class="column">
                        <h2 class="text-sm text-blue-500 font-bold mb-3">Small Business Directory</h2>
                        <ul class="text-red-500">
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>400+ Categories</span>
                            </li>
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>Free Listing</span> 
                            </li>
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>Most Liked</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Third Column -->
                    <div class="column">
                        <h2 class="text-sm text-blue-500 font-bold mb-3">Ask a Pro</h2>
                        <ul class="text-red-500">
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>
                                    Business Lease Bids
                                </span> 
                            </li>
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>400+ Categories</span> 
                            </li>
                            <li class="flex items-center gap-2 text-xs">
                                <img src="/assets/Tick.png" alt="icon" class="w-3.5">
                                <span>Neighbourhood Comments</span> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Buttons Section -->
            <div class="flex justify-center mt-6 space-x-4">
                <button class="bg-red-500 text-white text-sm py-2 px-4 rounded-full">
                    Star Sign In
                </button>
                <button class="bg-red-500 text-white text-sm py-2 px-4 rounded-full">
                    Star Sign Up
                </button>
                <button class="bg-red-500 text-white text-sm py-2 px-4 rounded-full">
                    Star Program
                </button>
            </div>
        </div>
    </div>
    <div class="self-center w-full lg:w-2/5 xl:w-2/5 glassmorphism rounded-xl mt-6 p-3">
        <h1 class="text-center text-red-600">Be A Star</h1>
        <ul class="flex flex-wrap justify-around mt-4 list-disc list-inside">
            <li class="flex-1 text-xs font-semibold text-center">Real Estate Agents</li>
            <li class="flex-1 text-xs font-semibold text-center">Insurance</li>
            <li class="flex-1 text-xs font-semibold text-center">Finance</li>
            <li class="flex-1 text-xs font-semibold text-center">Beauty</li>
        </ul>
    </div>
</div>