<mat-card class="mt-6">
    <!-- Image Section -->
    <img src="/assets/news.jpg" alt="Neighbourly News" class="w-full object-cover" />

    <div class="flex justify-between p-4">
        <!-- Title Section -->
         <div>
             <h2 class="text-2xl font-bold">Neighbourly News</h2>
             <p>Get the neighborhood scoop here.</p>
         </div>

        
        <!-- Message Section -->
        <div class="flex items-center">
            <p class="mr-4">You need to be an authorized user to post.</p>
            <button class="bg-yellow-500 text-white text-sm py-2 px-4 rounded-full">
                Sign Up
            </button>
        </div>
    </div>

    <!-- Introductory Text -->
    <div class="p-4">
        <p>
            Free speech, no bullying, weekly world events, local events, school updates, advice, photos, lost and found, 'no negatives' zone, 'comment freely', no mention of 
            businesses(that's why we have a free Directory), and no ads. Ask, comment, engage, learn and have fun.
        </p>
    </div>
</mat-card>