// custom scroll bar mixing

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, #131313, 50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width: $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
      border-radius: 10px;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }
  
  // media queries
  @mixin for-phone-only {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  @mixin for-tablet-portrait-up {
    // @media (min-width: 600px) and (max-width: 899px) {
    @media (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  }
  
  @mixin for-tablet-landscape-up {
    @media (max-width: 900px) {
      @content;
    }
  }
  
  @mixin for-desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }
  
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
  