/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
@import "./mixings.scss";

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

span {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: "Nexa-Trial";
  margin: 0;
  // line-height: 1.3;
}

h1 {
  font-size: clamp(1rem, calc(0.73rem + 2.84vw), 1.2rem) !important;
  font-weight: 600 !important;

  @include for-phone-only {
    font-size: clamp(1rem, calc(1.4rem + 2vw), 1.2rem);
  }
}

h2 {
  font-size: clamp(0.8rem, calc(0.64rem + 2.2vw), 1rem);
  font-weight: 600 !important;

  @include for-phone-only {
    font-size: clamp(2.3rem, calc(0.64rem + 2.2vw), 3rem);
  }
}

h3 {
  font-size: clamp(0.9rem, calc(0.56rem + 1.7vw), 2.34rem);

  @include for-phone-only {
    font-size: clamp(0.9rem, calc(0.9rem + 1.7vw), 2.34rem);
  }
}

h4 {
  font-size: clamp(0.75rem, calc(0.49rem + 1.3vw), 1.5rem);

  @include for-phone-only {
    font-size: clamp(0.75rem, calc(0.65rem + 1.3vw), 2rem);
  }
}

h5 {
  font-size: clamp(0.63rem, calc(0.43rem + 1vw), 1.2rem);

  @include for-phone-only {
    font-size: clamp(0.63rem, calc(0.63rem + 1vw), 1.2rem);
  }
}

p,
li,
mat-label {
  font-size: clamp(0.6rem, 3vw, 0.9rem);
  margin-bottom: 0;
}

