<div>
  <section>
    <app-banner></app-banner>
  </section>

  <section class="lg:mx-14 my-8">
    <h1 class="text-center">Three Sign-Up Options</h1>
    <p class="text-center">Something for Everyone</p>
    <app-neighbor></app-neighbor>
    <app-bussinesses></app-bussinesses>
    <app-agencies-and-brands></app-agencies-and-brands>
  </section>

  <section class="lg:mx-14 my-8">
    <app-neighbourly-news></app-neighbourly-news>
  </section>
  <section class="lg:mx-14 my-8">
    <app-advertise></app-advertise>
  </section>
</div>
