<div class="flex flex-col md:flex-row items-stretch gap-4 p-6 ">
    <!-- Image Section -->
    <div class="w-full md:w-3/5">
        <img src="/assets/brands.jpg" alt="Neighborhood" class="w-full h-full object-cover rounded-lg" />
    </div>

    <!-- Text Section -->
    <div class="w-full md:w-2/5 bg-lightgreen p-6 flex flex-col justify-center rounded-lg">
        <div>
            <h1 class="text-2xl font-bold">For Agencies & Multi Brands</h1>
            <p class="mt-2">
                A single dashboard to centralize and oversee multiple brands and clients. Brings your clients on board with YellowZip and empower them to connect with their local community.
            </p>
        </div>
        <button class="mt-4 bg-yellow-500 text-white text-sm py-2 px-4 rounded-full w-28">
            Sign Up
        </button>
    </div>
</div>